# Nuxt dev/build outputs
.output
.output.zip
.data
.nuxt
.nitro
.cache
# dist
.gitignore

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleeta
.idea

# Local env files
.env
.env1
.env2
.env.*
!.env.example
.*.yml
myNote.yml
Setup-Server.yml
new-Setup-Server.yml
app.vue.yml
.nuxtignore
*.backup
myTestData.json
